.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-logo {
  margin-left: 15px;
}

.card {
  padding: 10px 15px;
  border: 1px solid black;
  background-color:rgba(255, 255, 255, 0.8);
}

label {
  color: #595959;
}

.input-field label {
  color: #595959;
}

.input-field label.active {
  color: #072070;
}

.input-field input.valid {
  border-bottom: 1px solid #072070;
  box-shadow: 0px 1px 0px 0px #072070;
}

select {
  display: inherit;
}

.btn {
  margin-top: 20px;
}

.slider {
  margin-bottom: 25px;
}